html, body, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.3em;
}

body {
  padding-left: 4px;
  padding-top: 4px;
}

html, button {
  font-family: sans-serif;
}

div {
  padding: 2px;
}

div h3 {
  margin: 0 4px;
}

div small {
  float: right;
  opacity: 0.75;
  font-size: .75em;
  margin-top: 2px;
  margin-left: 4px;
}

iframe {
  width: 200px;
  height: 72px; 
}

div[id] {
  float: left;
  border: 1px solid silver;
  margin-right: 4px;
  margin-bottom: 4px;
}
